{
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
